@page {
    size: auto;
    margin-top: 11mm;
    margin-left: 5mm;
    margin-bottom: 0cm;
    margin-right: 0cm;
padding: 0;
}
div.etiqueta{
max-width: 32mm;
max-height: 1.6cm;
margin-right: 8px;
margin-bottom: 1px;
float: left;
text-align: center;
border: 1px solid #fff;
}
div.numordem{
font-size: 14px;
}
div.nomempresa{
font-size: 12px;
}
div.telempresa{
margin-top: 2px;
font-size: 12px;
}