html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-top: 70px;
  padding-bottom:30px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
  font-size: 0.9rem;
  background-image: linear-gradient(180deg, #EBECED 0%, #cdcfcf 100%);
  border-top: 1px solid rgba(170, 170, 170, 0.4);
}
/**
Titulo personalizados
*/
.title-head{
  font-size: 1.2rem;
  padding-top: 10px;
}

/**
Breadcumbs personalizado
*/
.breadcrumb{
  float: right;
  background-color: transparent!important;
}
/**
Barra navegação personalizada
*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7)!important;
    font-size: 0.9rem;
}
.navbar-dark .navbar-nav .active {
    color: rgba(255, 255, 255, 0.9)!important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.9)!important;
}
.navbar .dropdown-menu {
    background-color: #3d63a0;
    font-size: 0.9rem;
  }
  .navbar .dropdown-menu a:hover {
    background-color: #3d63a0;
  }

  /* and this styles the dropdwon trigger link, when open */
  .navbar .dropdown.show a {
    background-color: #3d63a0;
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar .dropdown.show a:hover {
    /*background-color: #fff;*/
    color: rgba(255, 255, 255, 0.9);
  }

  /*Listar dados*/
#form-search{
    position: relative;
    z-index: 1000;
}
  .autocomplete{
      position: absolute;
      z-index: 20000;
      right: 0;
      width: 270px;
      background-color: #FFF;
  }
  .autocomplete ul{
      margin: 0;
      padding: 0;
    list-style-type: none;
  }
  .autocomplete ul li{
      margin: 1px 0 1px 0;
      background-color: #3d63a0;
      display: block;
    cursor: pointer;
  }

  /* Fieldset e legend */
fieldset {
	background-color: rgb(235, 231, 231);
    border-radius: 4px;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
legend {
    max-width: 200px!important;
	background-color: rgb(230, 227, 227);
	border: 1px solid #ddd;
	border-radius: 10px;
}
legend .center{
    text-align: center;
    font-size: 1rem!important;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    margin-top: 10px;
}

