html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(221, 221, 221);
    /* overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; */
}

body {
    min-height: 100vh;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    /* this needs to be bigger than footer height*/
}
.card{
    border:1px solid #fff;
}
.footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
    padding-top: 20px;
    font-size: 0.9rem;
    background-color: rgb(233, 233, 233);
    border-top: 2px solid #ffffff;
}

/**
Titulo personalizados
*/

.title-head {
    font-size: 1.2rem;
    padding-top: 10px;
}


/**
Breadcumbs personalizado
*/

.breadcrumb {
    float: right;
    background-color: transparent!important;
}


/*
Logotipo
*/

.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/**
Barra navegação personalizada
*/

.navbar {
    background: rgb(18, 58, 145)!important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(222, 221, 222, 0.411) 50%, rgba(255, 255, 255, 1) 100%);
    border-bottom: 2px solid #ffffff;
}


/*
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7)!important;
    font-size: 0.9rem;
}
*/

.navbar .navbar-nav .active {
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(222,221,222,1) 50%, rgba(255,255,255,1) 100%);
    color: rgba(0, 0, 0, 0.9)!important;
	border: 1px solid #d8d7d7;
    border-radius: 5px; */
    border-bottom: 1px solid #ffffff;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background: rgb(18, 58, 145)!important;
}
.navbar-dark .navbar-nav .nav-link {
    background: rgb(18, 58, 145)!important;
}
/*
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #375B7E!important;
    color: #ffffff;
}
.navbar .dropdown-menu {
    background: #375b7e;
    font-size: 0.9rem;
  }
  .navbar .dropdown-menu a:hover {
    background-color: #375b7e;
  }
  /* and this styles the dropdwon trigger link, when open */


/*
.dropdown-menu {
    border-color: #305172!important;
}
.navbar .dropdown.show a {
    background-color: #375b7e;
    color: rgba(255, 255, 255, 0.7);
}
.navbar .dropdown.show a:hover {
    /*background-color: #fff;*
    background-color: #375b7e;
    color: rgba(255, 255, 255, 0.9);
}
*/


/* Fieldset e legend */

fieldset {
    background-color: rgb(235, 231, 231);
    border-radius: 4px;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

legend {
    max-width: 200px!important;
    background-color: rgb(230, 227, 227);
    border: 1px solid #ddd;
    border-radius: 10px;
}

legend .center {
    text-align: center;
    font-size: 1rem!important;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    margin-top: 10px;
}

/*FadeIn transição de páginas*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}


/*Label*/

td {
    vertical-align: middle!important;
}

.badge {
    display: inline-block;
    padding: .4em .6em .5em;
    font-size: 90%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    width: 180px!important;
}

.table-overflow {
    max-height: 339px!important;
    overflow-x: auto!important;
}

.table-fixa {
    min-height: 339px!important;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #d4d2d2!important;
}

.table>thead>tr>th {
    border-bottom: 1px solid #d4d2d2!important;
}


/*LIst pecas*/

.listpecashead {
    width: 100%;
}

.listpeca {
    width: 100%;
}
